/*
**************
Reset
**************
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*
**************
Common
**************
*/

.clearfix::after {
  content: '';
  clear: both;
  display: table;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.mb-5 {
  margin-bottom: 5px;
}

/*
**************
Body
**************
*/

body {
  font-family: 'Fredoka', sans-serif;
}

/*
**************
Header
**************
*/

header {
  text-align: center;
  padding: 45px 0 55px;
}

h1 {
  color: #e53170;
}

h2 {
  color: white;
}

/*
**************
Main
**************
*/

.member {
  height: 100px;
  width: calc(100% / 3 - 60px);
  float: left;
  margin: 30px;
  background-color: #0f0e17;
  box-shadow: 0 0 5px black;
  font-size: small;
}

.img-container {
  width: 100px;
  float: left;
}

.img-container img {
  width: 100%;
  float: left;
}

.info-container {
  width: calc(100% - 100px);
  height: 100%;
  padding: 10px;
  float: left;
  color: white;
}

.info-container a {
  text-decoration: none;
  color: #00a9f4;
}
